input[type=button] {
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    width: 15%;
    height: 10%;
}


.CDBlock {

    border-top: 1px solid #9a9c6a;
    background: #9a9c6a;
    background: -webkit-gradient(linear, left top, left bottom, from(#9a9c6a), to(#9a9c6a));
    background: -webkit-linear-gradient(top, #9a9c6a, #9a9c6a);
    background: -moz-linear-gradient(top, #9a9c6a, #9a9c6a);
    background: -ms-linear-gradient(top, #9a9c6a, #9a9c6a);
    background: -o-linear-gradient(top, #9a9c6a, #9a9c6a);
    padding: 11.5px 23px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #bdd8de;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-left: 1%;
    height: 10%;
    width: 64%;
    text-align: center;

}

.blackButton {
    border-top: 1px solid #36130e;
    background: #36130e;
    background: -webkit-gradient(linear, left top, left bottom, from(#36130e), to(#36130e));
    background: -webkit-linear-gradient(top, #36130e, #36130e);
    background: -moz-linear-gradient(top, #36130e, #36130e);
    background: -ms-linear-gradient(top, #36130e, #36130e);
    background: -o-linear-gradient(top, #36130e, #36130e);
    padding: 12.5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #5e4c0b;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.blackButton:hover {
    border-top-color: #36130e;
    background: #36130e;
    color: #5e4c0b;
}
.blackButton:active {
    border-top-color: #36130e;
    background: #36130e;
}

#black {
    border-top: 1px solid #36130e;
    background: #36130e;
    background: -webkit-gradient(linear, left top, left bottom, from(#36130e), to(#36130e));
    background: -webkit-linear-gradient(top, #36130e, #36130e);
    background: -moz-linear-gradient(top, #36130e, #36130e);
    background: -ms-linear-gradient(top, #36130e, #36130e);
    background: -o-linear-gradient(top, #36130e, #36130e);
    padding: 12.5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #5e4c0b;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

#black:hover {
    border-top-color: #36130e;
    background: #36130e;
    color: #5e4c0b;
}

#black:active {
    border-top-color: #36130e;
    background: #36130e;
}

#green {
    border-top: 1px solid #63a814;
    background: #63a814;
    background: -webkit-gradient(linear, left top, left bottom, from(#63a814), to(#63a814));
    background: -webkit-linear-gradient(top, #63a814, #63a814);
    background: -moz-linear-gradient(top, #63a814, #63a814);
    background: -ms-linear-gradient(top, #63a814, #63a814);
    background: -o-linear-gradient(top, #63a814, #63a814);
    padding: 12.5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #5e4c0b;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
#green:hover {
    border-top-color: #63a814;
    background: #63a814;
    color: #5e4c0b;
}
#green:active {
    border-top-color: #63a814;
    background: #63a814;
}

#fruit {
    border-top: 1px solid #b3125b;
    background: #b3125b;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3125b), to(#b3125b));
    background: -webkit-linear-gradient(top, #b3125b, #b3125b);
    background: -moz-linear-gradient(top, #b3125b, #b3125b);
    background: -ms-linear-gradient(top, #b3125b, #b3125b);
    background: -o-linear-gradient(top, #b3125b, #b3125b);
    padding: 12.5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #bdd8de;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
#fruit:hover {
    border-top-color: #b3125b;
    background: #b3125b;
    color: #bdd8de;
}
#fruit:active {
    border-top-color: #b3125b;
    background: #b3125b;
}

#herbal {
    border-top: 1px solid #9c7a22;
    background: #9c7a22;
    background: -webkit-gradient(linear, left top, left bottom, from(#9c7a22), to(#9c7a22));
    background: -webkit-linear-gradient(top, #9c7a22, #9c7a22);
    background: -moz-linear-gradient(top, #9c7a22, #9c7a22);
    background: -ms-linear-gradient(top, #9c7a22, #9c7a22);
    background: -o-linear-gradient(top, #9c7a22, #9c7a22);
    padding: 12.5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #bdd8de;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
#herbal:hover {
    border-top-color: #9c7a22;
    background: #9c7a22;
    color: #bdd8de;
}
#herbal:active {
    border-top-color: #9c7a22;
    background: #9c7a22;
}

.greenButton {
    border-top: 1px solid #63a814;
    background: #63a814;
    background: -webkit-gradient(linear, left top, left bottom, from(#63a814), to(#63a814));
    background: -webkit-linear-gradient(top, #63a814, #63a814);
    background: -moz-linear-gradient(top, #63a814, #63a814);
    background: -ms-linear-gradient(top, #63a814, #63a814);
    background: -o-linear-gradient(top, #63a814, #63a814);
    padding: 12.5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #5e4c0b;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.greenButton:hover {
    border-top-color: #63a814;
    background: #63a814;
    color: #5e4c0b;
}
.greenButton:active {
    border-top-color: #63a814;
    background: #63a814;
}

.fruitButton {
    border-top: 1px solid #b3125b;
    background: #b3125b;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3125b), to(#b3125b));
    background: -webkit-linear-gradient(top, #b3125b, #b3125b);
    background: -moz-linear-gradient(top, #b3125b, #b3125b);
    background: -ms-linear-gradient(top, #b3125b, #b3125b);
    background: -o-linear-gradient(top, #b3125b, #b3125b);
    padding: 12.5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #bdd8de;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.fruitButton:hover {
    border-top-color: #b3125b;
    background: #b3125b;
    color: #bdd8de;
}
.fruitButton:active {
    border-top-color: #b3125b;
    background: #b3125b;
}

.herbalButton {
    border-top: 1px solid #9c7a22;
    background: #9c7a22;
    background: -webkit-gradient(linear, left top, left bottom, from(#9c7a22), to(#9c7a22));
    background: -webkit-linear-gradient(top, #9c7a22, #9c7a22);
    background: -moz-linear-gradient(top, #9c7a22, #9c7a22);
    background: -ms-linear-gradient(top, #9c7a22, #9c7a22);
    background: -o-linear-gradient(top, #9c7a22, #9c7a22);
    padding: 12.5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #bdd8de;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.herbalButton:hover {
    border-top-color: #9c7a22;
    background: #9c7a22;
    color: #bdd8de;
}
.herbalButton:active {
    border-top-color: #9c7a22;
    background: #9c7a22;
}

.DDUID {
    border-top: 1px solid #9a9c6a;
    background: #9a9c6a;
    background: -webkit-gradient(linear, left top, left bottom, from(#9a9c6a), to(#9a9c6a));
    background: -webkit-linear-gradient(top, #9a9c6a, #9a9c6a);
    background: -moz-linear-gradient(top, #9a9c6a, #9a9c6a);
    background: -ms-linear-gradient(top, #9a9c6a, #9a9c6a);
    background: -o-linear-gradient(top, #9a9c6a, #9a9c6a);
    padding: 12.5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #bdd8de;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.DDUID:hover {
    border-top-color: #9a9c6a;
    background: #9a9c6a;
    color: #bdd8de;
}
.DDUID:active {
    border-top-color: #9a9c6a;
    background: #9a9c6a;
}